* {
    font-family: fantasy;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 255, 0);
    border: 4px solid rgb(2, 72, 16);
    border-radius: 10px;
}